PORT=3000
KAKAO_MAP_API_KEY=your_kakao_javascript_key
GOOGLE_PLACES_API_KEY=your_google_places_api_key
MAPSERVICE_BASE_URL=http://localhost:8080
MAPSERVICE_ACCESSIBILITY_REPORTS_ENDPOINT=/api/accessibility-reports
MAPSERVICE_PLACE_ACCESSIBILITY_ENDPOINT=/api/place-accessibility

DB_HOST=127.0.0.1
DB_USER=root
DB_PASS=0000
DB_NAME=barrier_free_db
DB_PORT=3306
